 <h2>User info</h2>
 <%= attachment_image_tag user,:profile_image, :fill, 100, 100,format:'jpeg', fallback: "no_image.jpg" %>

		<table>
		<thead>
			<tr>
				<th>name</th>
				<th><%= user.name %></th>
			</tr>
		    <tr>
		    	<th>intoroduction</th>
			    <th><%= user.introduction %></th>
			</tr>
			<tr>
				<th>follows</th>
                 <th>
	           		<%= link_to user.following.count,user_follows_path(user.id)%>
	            </th>
			</tr>
			<tr>
				<th>followers</th>
				<th>
	         		<%= link_to user.followers.count, user_followers_path(user.id)%>
				</th>
			</tr>
		</thead>
		</table>
		<% if current_user == user %>
			<%= link_to edit_user_path(current_user.id), class: "btn btn-default btn-block" do %>
			<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><% end %>
		<% else %>
			  <%= render 'users/follow_form', user: user %>
		<% end %>