<div class="col-xs-3">
 <h2>User info</h2>
 <%= attachment_image_tag current_user,:profile_image, :fill, 100, 100,format:'jpeg', fallback: "no_image.jpg" %>

		<table>
		<thead>
			<tr>
				<th>name</th>
				<th><%= current_user.name %></th>
			</tr>
		    <tr>
		    	<th>intoroduction</th>
			    <th><%= current_user.introduction %></th>
			</tr>
		</thead>
		</table>
		<%= link_to edit_user_path(current_user.id), class: "btn btn-default btn-block" do %>


		<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
	<% end %>
	<h2>New book</h2>
		<%= form_for @book do |f| %>
			<div class="form-group row ">
				<h4>Title</h4>
				<%= f.text_field :title, class:'form-control' %>
			</div>
			<div class="form-group row ">
				<h4>Opinion</h4>
				<%= f.text_area :body, class:'form-control' %>
			</div>
			<div class="action row ">
				<%= f.submit(class:'btn btn-primary btn-block') %>
			</div>
		<% end %>

</div>
