 <div class="container">
 	<% if @user.errors.any? %>
 <div class = "alert-errors alert-warning">
 	<h4><%= @user.errors.count %>errors prohibited this obj from being saved:</h4>
 	<ul>
 		<% @user.errors.full_messages.each do |message| %>
 		<li><%= message %></li>
 		<% end %>
 	</ul>
 </div>
<% end %>
	<h1>User info</h1>

		<%= form_for @user do |f| %>
		 <div class="form-group">
		    <div class="field">
		  	 <%= f.label :Name %>
		 	 <%= f.text_field :name %>
		 	</div>
		 	<div class="field">
		 	 <%= f.label :Image %>
			 <%= f.attachment_field :profile_image %>
			</div>
			<div class="field">
			 <%= f.label :Introduction %>
			 <%= f.text_area :introduction %>
			</div>
			<div class="action">
			 <%= f.submit %>
			</div>
		</div>
		<% end %>
</div>