<div class="container">
	<div class="row">
		<div class="col-xs-3">
	 		<%= render 'info', user: @user,now: ''%>
			<%= render 'books/form', book: @book %>
		</div>
		<div class="col-xs-9">
			<h1>Books</h1>
			<%= render 'books/index' , books: @books %>
		</div>
	</div>
	<% if @user == current_user %>
		<div class="row">
		<h2>Your MAP</h2>
			<div id=map></div>
		</div>
	<% end %>
</div>

<script type="text/javascript">
  function initMap() {

    var test = {lat: <%= @user.latitude %>, lng: <%= @user.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: test
    });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @user.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
      position:test,
      map: map,
      title: contentString
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/
js?v=3.exp&key=<%= ENV['GoogleMap_API_KEY'] %>&callback=initMap">
</script>
