<div class="container">
    <div class="row">
   		<% if @book.errors.any? %>
 			<div class = "alert-errors alert-warning">
		 		<h4><%= @book.errors.count %>errors prohibited this obj from being saved:</h4>
		 		<ul>
		 			<% @book.errors.full_messages.each do |message| %>
		 				<li><%= message %></li>
		 			<% end %>
		 		</ul>
		 	</div>
		<% end %>
    	<%= render 'users/info',users:@user %>
    		<div class="col-xs-9">
			<h1>Books</h1>
		<table>
			<thead>
				<tr>
				 <th></th>
				 <th>Title</th>
				 <th>Opinion</th>
				</tr>
			</thead>



		    <tbody>
 	 		   	<% @books.each do |book| %>
	 			 	<tr>
		 			 	 <td><%= link_to user_path(book.user) do %>
		 			 	 	<%= attachment_image_tag book.user,:profile_image, :fill, 50, 50,format:'jpeg', fallback: "no_image.jpg",size:'50x50' %>
		 			 	 	<% end %>
		 			 	 </td>
				    	 <td><%= link_to book_path(book.id) do %>
				    	 	<%= book.title %></td>
				    	 	<% end %>
				    	 <td><%= book.body %></td>
				    	 <td>コメント数: <%= book.book_comments.count %></td>
	  				</tr>
	  			<% end %>
	 		 </tbody>
		</table>
	</div>
</div>


</div>