<div class="container">
    <div class="row">
    	<div class="col-xs-3">
            <%= render 'users/info',user:@book.user %>
            <%= render 'form', book: Book.new %>
        </div>

    	<div class="col-xs-9">
    		<h1>Book detail</h1>
    		<table>
                <tbody>
    	 		 	<tr>
    			 	  <td><%= link_to user_path(@book.user) do %>
                            <%= attachment_image_tag @book.user,:profile_image, :fill, 50, 50,format:'jpeg', fallback: "no_image.jpg",size:'50x50' %><br>
                            <%= @book.user.name %>
                            <% end %>
                        </td>
    			  	 <td><%= link_to book_path(@book) do %>
                            <%= @book.title %>
                            <% end %></td>
    			   	 <td><%= @book.body %></td>
                     <!-- いいね機能 -->
                     <td id="favorite">
                     <%= render partial:'favorites/favorite', locals: {book: @book}  %>
                     </td>
                     <!-- いいね機能 -->
                     <td>コメント数: <%= @book.book_comments.count %></td>
                     <% if @book.user.id == current_user.id %>
                     <td><%= link_to "Edit",edit_book_path(@book), class: "btn btn-success" %></td>
                     <td><%= link_to "Destroy", book_path,method: :delete,class: "btn btn-danger ","data-confirm"=> "本当に消しますか?"%></td>
                     <% end %>
    	  			</tr>
                </tbody>
                <tbody>
                </tbody>
            </table>
            <!-- コメントフォーム -->
            <div>
                <div id="comments_area">
                    <%= render partial: 'book_comments/index', locals: {book_comments: @book_comments} %>
                </div>
                <%= render partial: 'book_comments/form', locals: {book_comment: @book_comment, book: @book}%>
            </div>
    	</div>
    </div>
</div>
