<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left ">
          <h1>Bookers</h1>
        </nav>
        <div style="margin-top:30px;">
            <ul class="nav navbar-nav navbar-right center-block ">
             <% if user_signed_in? %>
                <li class="">
                 <span class="glyphicon glyphicon-home" aria-hidden="true">　<%= link_to "Home ",user_path(current_user.id) %></span>
                </li>
                <li class="">
                  <span class="glyphicon glyphicon-user" aria-hidden="true">　<%= link_to "Users", users_path %></span>
                </li>
               <li class="">
                 <span class="glyphicon glyphicon-book" aria-hidden="true">　<%= link_to "Books", books_path %></span>
               </li>
                <li class="">
                   <span class="glyphicon glyphicon-log-out" aria-hidden="true">　<%= link_to "logout", destroy_user_session_path, method: :delete %></span>
               </li>
              <% else %>
                <li class="">
                  <span class="glyphicon glyphicon-home" aria-hidden="true">　<%=link_to "Home", root_path %></span>
                </li>
                <li class="">
                  <span class="glyphicon glyphicon-link" aria-hidden="true">　<%= link_to "About", home_about_path %></span>
                </li>
                <li class="">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true">　<%= link_to "sign up", new_user_registration_path %></span>
               </li>
               <li class="">
                 <span class="glyphicon glyphicon-log-in" aria-hidden="true">　<%= link_to "login", new_user_session_path %></span>
               </li>
              <% end %>
            </ul>
          </div>
          </div>>
         </div>
      </header>
      <div class="container">
        <% if flash[:notice] %>
          <div class="notification is-info">
            <p class="notice"><%= notice %></p>
           </div>
         <% end %>

           <% if flash[:alert] %>
             <div class="notification is-danger">
              <p class="alert"><%= alert %></p>
            </div>
         <% end %>
      </div>




    <%= yield %>

      <footer>
      <p class="footer-text col-md-3 col-md-offset-9">CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>
